{% extends "base.html" %}

{% block title %}
{{ username }} Site
{% endblock %}

{% block content %}
<h1>{{ full_name }} ({{ username }})</h1>
<a href={{ github }}>github</a>
<a href={{ codeberg }}>codeberg</a>
<a href=mailto:{{ email }}>email</a>
<a href="/rss.xml">rss</a>

<div>
  {{ description | safe }}
</div>

<section class="publications">
  <h2>Latest posts</h2>

  <div class="post-list">
    {% for post in latest_posts %}
    <a href="{{ post.relative_path }}">
      {{ post.date }} {{ post.short_title() }}
    </a>
    {% endfor %}
  </div>
</section>

<section class="publications">
  <h2>Publications</h2>

  <div class="publication-list">
    {% for publication in publications %}
      <article class="publication">
        <div class="publication-meta">
          <span class="publication-status">
            [{{ publication.status }}]
          </span>

          <span class="publication-year">
            {{ publication.year }}
          </span>
        </div>

        <h3 class="publication-title">
          {{ publication.title }}
        </h3>

        <p class="publication-authors">
          {{ publication.authors_string() }}
        </p>

        <p class="publication-abstract">
          {{ publication.short_abstract() }}
        </p>

        <div class="publication-links">
          {% match publication.post %}
            {% when Some with (post) %}
              <a href="{{ post }}">Research post</a>
            {% when None %}
          {% endmatch %}

          <a href="{{ publication.pdf }}">LINK</a>
          {% match publication.materials %}
            {% when Some with (materials) %}
              <a href="{{ materials }}">MATERIALS</a>
            {% when Some with (post) %}
            {% when None %}
          {% endmatch %}
        </div>
      </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
